body {
    background-color: burlywood;
    display: grid;
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.year-choice {
    display: flex;
    flex-direction: row;
}

.year-award {
    width: 80px;
    height: 20px;
    margin: 10px;
}
